.v-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.v-middle-horizontal {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.v-middle-vertical {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.header-project .v-middle-horizontal .intro-project {
    width: 100%
}

.title {
    position: relative;
    color: #fff;
    font-family: Helvetica;
    font-size: 65px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px
}

@media only screen and (min-width:1600px) {
    .title {
        font-size: 76px
    }
}

@media only screen and (max-width:991px) {
    .title {
        font-size: 65px
    }
}

@media only screen and (max-width:767px) {
    .title {
        font-size: 50px
    }
}

@media only screen and (max-width:575px) {
    .title {
        font-size: 45px;
        line-height: 1.2
    }
}

@media only screen and (max-width:400px) {
    .title {
        font-size: 35px
    }
}



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #000
}

.preloader .preloader-before {
    top: 0
}

.preloader .preloader-after {
    bottom: 0
}

.preloader .percent {
    position: absolute;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    color: #7934f4;
    top: -25px
}

.preloader .title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 0.9;
    letter-spacing: 10px
}

.preloader .title .text-strok {
    color: transparent;
    -webkit-text-stroke: 1px #fff
}

.preloader .title .text-fill {
    color: #fff;
    position: absolute;
    left: 0;
    -webkit-clip-path: inset(100.09% 0% 0% 0%);
    clip-path: inset(100.09% 0% 0% 0%)
}

.preloader .preloader-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    background: #1d1d1d
}

.preloader .preloader-bar .preloader-progress {
    width: 0;
    height: 100%;
    background: #7934f4
}